@page "/"
@using LavenderChessClock1.Chess
@using LavenderChessClock1.Components
@using LavenderChessClock1.Services
@inject IGamesListService _gamesListService

<PageTitle>Chess Clock @(GameStateString)</PageTitle>

<style>
    body, html{
        background-color: #9999CC;
    }

    input[type="checkbox"]{
        accent-color: #272447;
    }

    .colorDarkBlue{
        color: #272447;
    }

    .homeHolder{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .gameInput{
        font-size: 25px;
        height: 30px;
        width: 400px;
        margin:0;
        padding:0;
        border-radius: 5px;
        height: 40px;
        border:none;
        outline:none;
        color: #272447;
    }

        .gameInput[disabled]{
            opacity: 0.5;
        }

        .tfInput{
            width: 30px;
            height: 30px;
        }

    .formLabel{
        display: block;
        text-align: left;
        font-size: 20px;
        word-wrap:normal;
        color: #272447;
    }

    .formLabelHolder{
        height: 50px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 400px; 
        max-width: 100%;
    }

    #CreateGameForm, .divGamesHolder {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .submitFormDiv{
        margin-top: 20px;
    }

    #BtnSubmit{
        width: 200px;
        height: 50px;
        background-color: #272447;
        border:none;
        outline:none;
        color: white;
        border-radius: 5px;
        font-size: 20px;
    }
</style>

@if (NewGame != null)
{
    <ChessClock ChessGame="NewGame" OnDiscardGame="CreateNewGameAsync" />
}
else
{
    <div class="homeHolder">

        <EditForm id="CreateGameForm" EditContext="GameContext" OnValidSubmit="CreateGame" FormName="@("GameForm")">
            <h1 style="font-size: 40px; font-weight: 600; border:none; outline:none; margin-bottom: 5px; font-size: 40px;" class="colorDarkBlue">New Game</h1>
            <h6 style="width: 100%; text-align: center; margin-top: 0; margin-bottom: 10px; font-size: 15px;" class="colorDarkBlue">Create a game with new time controls</h6>

            <DataAnnotationsValidator />
            <div class="formLabelHolder">
                <b class="formLabel">Player 1 Starting Time (in seconds)</b>
            </div>
            <InputNumber @bind-Value="GameModel.Player1Seconds" class="gameInput" placeholder="Player 1 Timer" ParsingErrorMessage="Seconds must be a positive integer."></InputNumber>
            <ValidationMessage For="@(() => GameModel.Player1Seconds)" class="gameValidationMessage" />


            <div class="formLabelHolder">
                <b class="formLabel">Player 1 Increment Type</b>
            </div>
            <InputSelect @bind-Value="GameModel.Player1Increment" class="gameInput">
                <option value="@IncrementType.NoIncrement">No Increment</option>
                <option value="@IncrementType.AdditionIncrement">Addition</option>
                <option value="@IncrementType.DelayIncrement">Delay</option>
            </InputSelect>
            <ValidationMessage For="@(() => GameModel.Player1Increment)" class="gameValidationMessage" />

            <div class="formLabelHolder">
                <b class="formLabel">Player 1 Increment Length (in seconds)</b>
            </div>
            @if (GameModel.Player1Increment == IncrementType.NoIncrement)
            {
                <InputNumber @bind-Value="GameModel.Player1IncrementLength" class="gameInput" disabled ParsingErrorMessage="Increment length must be a positive integer."></InputNumber>
            }
            else
            {
                <InputNumber @bind-Value="GameModel.Player1IncrementLength" class="gameInput" ParsingErrorMessage="Increment length must be a positive integer."></InputNumber>
            }
            <ValidationMessage For="@(() => GameModel.Player1IncrementLength)" class="gameValidationMessage" />

            <div class="formLabelHolder" style="justify-content: space-between;">
                <b class="formLabel">Same for both?</b>
                <InputCheckbox @bind-Value="GameModel.SameForBoth" class="tfInput"></InputCheckbox>
            </div>

            @if (!GameModel.SameForBoth)
            {
                <div class="formLabelHolder">
                    <b class="formLabel">Player 2 Starting Time (in seconds)</b>
                </div>
                <InputNumber @bind-Value="GameModel.Player2Seconds" class="gameInput" ParsingErrorMessage="Seconds must be a positive integer."></InputNumber>
                <ValidationMessage For="@(() => GameModel.Player2Seconds)" class="gameValidationMessage" />

                <div class="formLabelHolder">
                    <b class="formLabel">Player 2 Increment Type</b>
                </div>
                <InputSelect @bind-Value="GameModel.Player2Increment" class="gameInput">
                    <option value="@IncrementType.NoIncrement">No Increment</option>
                    <option value="@IncrementType.AdditionIncrement">Addition</option>
                    <option value="@IncrementType.DelayIncrement">Delay</option>
                </InputSelect>
                <ValidationMessage For="@(() => GameModel.Player2Increment)" class="gameValidationMessage" />

                <div class="formLabelHolder">
                    <b class="formLabel">Player 2 Increment Length (in seconds)</b>
                </div>
                @if (GameModel.Player2Increment == IncrementType.NoIncrement)
                {
                    <InputNumber @bind-Value="GameModel.Player2IncrementLength" class="gameInput" disabled ParsingErrorMessage="Increment length must be a positive integer."></InputNumber>
                }
                else
                {
                    <InputNumber @bind-Value="GameModel.Player2IncrementLength" class="gameInput" ParsingErrorMessage="Increment length must be a positive integer."></InputNumber>
                }
                <ValidationMessage For="@(() => GameModel.Player2IncrementLength)" class="gameValidationMessage" />
            }

            <div class="submitFormDiv">
                <button id="BtnSubmit" type="submit">Create Game</button>
            </div>

        </EditForm>

        <div class="divGamesHolder">
            <PreviousGamesList OnGameLoaded="LoadGameModel" />
        </div>

    </div>
}

@code {
    public Game? NewGame { get; set; } = null;

    public GameModel GameModel { get; set; } = default!;

    public EditContext GameContext { get; set; } = default!;

    private string GameStateString {get; set;} = string.Empty;

    protected override void OnInitialized()
    {
        ResetModelAndContext();

        base.OnInitialized();
    }

    protected async void ResetModelAndContext()
    {
        var mostRecentGame = await _gamesListService.GetMostRecentGame();
        GameModel = mostRecentGame ?? new GameModel();
        GameContext = new EditContext(GameModel);
    }

    public async Task CreateNewGameAsync()
    {
        ResetModelAndContext();
        NewGame = null;
        StateHasChanged();
    }

    protected void InvokeStateChanged()
    {
        InvokeAsync(() => StateHasChanged());
    }

    public void CreateGame()
    {
        if (GameModel.Player1IncrementLength == 0)
            GameModel.Player1Increment = IncrementType.NoIncrement;

        if (GameModel.Player2IncrementLength == 0)
            GameModel.Player2Increment = IncrementType.NoIncrement;

        if (GameModel.SameForBoth)
        {
            GameModel.Player2Seconds = GameModel.Player1Seconds;
            GameModel.Player2Increment = GameModel.Player1Increment;
            GameModel.Player2IncrementLength = GameModel.Player1IncrementLength;
        }

        if (GameContext.Validate())
        {
            decimal player1Seconds = GameModel.Player1Seconds;
            decimal player2Seconds = GameModel.SameForBoth
                ? GameModel.Player1Seconds
                : GameModel.Player2Seconds;

            IIncrement increment1 = IncrementFactory.CreateIncrement(GameModel.Player1Increment, GameModel.Player1IncrementLength);
            IIncrement increment2 = GameModel.SameForBoth
                ? IncrementFactory.CreateIncrement(GameModel.Player1Increment, GameModel.Player1IncrementLength)
                : IncrementFactory.CreateIncrement(GameModel.Player2Increment, GameModel.Player2IncrementLength);

            NewGame = new Game(player1Seconds, player2Seconds, increment1, increment2);
            _gamesListService.AddGameToList(GameModel);

            InvokeStateChanged();
        }
    }

    public void LoadGameModel(GameModel model)
    {
        GameModel = model;
        CreateGame();
    }
}
